* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

.products {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &__card {
        padding: 20px 20px;
        box-sizing: border-box;
        border: 2px solid yellowgreen;
        border-radius: 5px;
        text-align: center;
        width: calc(33% - 40px);

        &__name {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 50px;
            color: red;
        }

        &__button {
            padding: 10px 10px;
            background: violet;
            border-radius: 20px;
            border: none;
            width: 150px;
            color: white;
            font-size: 15px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background: darkmagenta;
            }

            &:active {
                background: blue;
            }
        }
    }
}

.name {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;

    &__text {
        color: darkmagenta;
    }
}

.container {
    display: flex;
    justify-content: center;

    &__reviews {
        width: 90%;
        border: 2px solid yellowgreen;
        border-radius: 5px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__review {

            &__product {
                padding-bottom: 5px;
                font-size: 30px;
                font-weight: 600;
                color: red;
            }

            &__text {
                font-size: 20px;
            }
        }
    }
}

.list {

    &__ol {
        list-style-position: inside;
    }
}

.dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;

    &__window {
        padding: 30px 30px;

        &__product {
            padding-bottom: 5px;
            font-size: 30px;
            font-weight: 600;
            color: red;
        }

        &__input {
            width: 500px;
            height: 200px;
            padding: 10px 10px;
            font-size: 20px;
            outline: none;
            resize: none;
            border: 2px solid yellowgreen;
        }

        &__buttons {
            margin-top: 20px;
            display: flex;
            gap: 30px;
        }
    }
}